@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&family=Roboto:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.main {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
}

/*SIDEBAR*/

.sidebar {
    background-color: #0ea5e9;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.sidebar .logo img {
    width: 3.5rem;
}

.sidebar .logo h1 {
    font-size: 2.5rem;
    color: #fff;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    gap: 0 1rem;
}

.sidebar .menu-icons > div {
    display: flex;
    align-items: center;
    gap: 0 2rem;
}

.sidebar .menu-icons > div {
    margin-bottom: 2rem;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.sidebar .menu-icons img {
    width: 2.5rem;
}

/*HEADER*/

.header {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0 2rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.top-nav {
    display: flex;
    justify-content: space-between;
}

.top-nav .search-bar {
    display: flex;
    align-items: center;
    gap: 0 2rem;
    width: 60%;
}

.top-nav .search-bar img {
    width: 3rem;
}

.top-nav .search-bar input {
    width: 100%;
    padding: 1rem;
    border-radius: 3rem;
    outline: none;
    border: .2rem solid #e2e8f0;
    background-color: #e2e8f0;
}

.top-nav .search-bar input:focus {
    border-color: #0ea5e9;
}

.top-nav .notification-area {
    display: flex;
    align-items: center;
    gap: 0 2rem;
    margin: 3rem;
}

.top-nav .notification-area .bell {
    width: 3rem;
    cursor: pointer;
}

.top-nav .notification-area img{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.top-nav .notification-area p {
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
}

.bottom-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-nav .profile {
    display: flex;
    align-items: center;
    gap: 1rem 2rem;
    flex-wrap: wrap;
}

.bottom-nav .profile img {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
}

.bottom-nav .profile .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem 0;
}

.bottom-nav .profile .text p{
    font-size: 1.5rem;
}

.bottom-nav .profile .text h1{
    font-size: 2.5rem;
}

.bottom-nav .buttons {
    margin: 2rem;
    display: flex;
    gap: 0 1rem;
}

button {
    color: #fff;
    background-color: #0ea5e9;
    font-size: 1.5rem;
    font-weight: bold;
    border: .2rem solid #fff;
    border-radius: 3rem;
    padding: 1.5rem 2.5rem;
    cursor: pointer;
    outline: none;
}

button:hover {
    background: none;
    border: .2rem solid #0ea5e9;
    color: #000;
}

/*CONTENT*/

.content {
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    padding: 4rem 2rem;
}

.projects h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2rem;
    margin-right: .5rem;
}

.card-container .card {
    width: 100%;
    height: 20rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-left: .7rem solid #facc15;
    border-radius: .5rem;
    padding: 2rem;
    transition: transform .2s;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.card:hover {
    transform: scale(1.05);
}

.card .text h2 {
    font-size: 1.8rem;
    margin-bottom: .5rem;
}

.card .text p {
    font-size: 1.5rem;
    color: #78716c;
}

.card .icons {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
}

.card .icons img {
    cursor: pointer;
}

.projects img {
    width: 2.5rem;
    height: 2.5rem;
}

.news {
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
    gap: 3rem;
}

.announcements h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.announcements p {
    font-size: 1.1rem;
}

.info-container {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2.5rem;
    border-radius: .5rem;
}

.info-container .info {
    margin-bottom: 2rem;
}

.info-container .info h2 {
    margin-bottom: .5rem;
}

.info-container .info p {
    color: #78716c;
    line-height: 1.4rem;
}

.info-container .info .line {
    height: .1rem;
    background-color: #78716c;
    width: 100%;
    margin-top: 2rem;
    opacity: .5;
}

.news img {
    width: 5rem;
    height: 5rem;
}

.trending h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.user-container {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2.5rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.user {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}

.user img {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.user .name h2 {
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: .5rem;
}

.user .name p {
    font-size: 1.5rem;
    color: #78716c;
}

/*media queries*/

@media(max-width: 1150px) {
    .grid {
        grid-template-columns: 10vw 90vw;
    }
    .sidebar {
        align-items: center;
    }
    .sidebar .logo h1,
    .menu-icons a {
        display: none;
    }
    .bottom-nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .bottom-nav .profile .text p{
        display: none;
    }
    .main {
        display: flex;
        flex-direction: column;
    }
    .content {
        display: flex;
        flex-direction: column;
    }
    .news {
        padding: 0 2rem 4rem 2rem;
    }
    .user-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
}


@media(max-width: 768px) {
    html {
        font-size: 50%;
    }
    .sidebar {
        padding: 2rem 0;
    }
    .notification-area p{
        display: none;
    }
    .top-nav .search-bar {
        width: 100%;
    }
    .profile {
        display: flex;
        flex-direction: column;
    }
    .profile .text {
        text-align: center;
    }
    .main {
        display: flex;
        flex-direction: column;
    }
}